extends layout

block content
  include ./partials/_company-scripts.jade
  include ./partials/_dashboard-nav.jade
  include ./partials/_newgroup.jade
  .container
    .row
      .col-md-8.col-md-offset-1
        if saved
          h3 Searching #{companyname}
          a.btn.btn-default(href="/remove/#{companyname}") Remove company
        else if full
          h3.colortemp Searching #{companyname}
          s Save company
          br
          p Please remove a company in order to save.
        else
          h3.colortemp Searching #{companyname}
          a.btn.btn-default(href="/save/#{companyname}") Save company
        .backbone
