extends layout

block content
  include ./partials/_scripts.jade
  include ./partials/_dashboard-nav.jade
  include ./partials/_newgroup.jade
  .container
    .row
      .col-md-8.col-md-offset-1
        .backbone
      .col-md-3
        #sidebar(data-spy="affix" data-offset-top="0" data-offset-bottom="200")
          h3 Search companies
          br
          form(action="/company/#{companies[0].searchcompany}")
            input.btn.btn-info(type="submit" value="#{companies[0].searchcompany}")
          br
          form(action="/company/#{companies[1].searchcompany}")
            input.btn.btn-success(type="submit" value="#{companies[1].searchcompany}")
          br
          form(action="/company/#{companies[2].searchcompany}")
            input.btn.btn-danger(type="submit" value="#{companies[2].searchcompany}")
          br
          p Filters
